h1{
	text-align: center;
	color: blue;
}

.row{
	box-sizing:border-box;
	width: 100%;
	float:left;
	margin:45px;
}

.col-lg-3, .col-md-6{
	float: left;
	margin:45px;
	width:100%;
}

p {
  border: 1px solid black;
  background-color: green;
  width: 90%;
  height: 90%;
  margin-right: auto;
  margin-left: auto;
  color: black;
  clear:right;
}

h2{
	float:right;
	margin-top: : 40px;
	color:green;
	border:5px;
}

body{
	background-color: gray;
}
.heading1,.heading2,.heading3{
  overflow: none;
  text-align: center;
  border: 4px solid black;
  width: 100px;
  height: 40px;
  padding: 5px;
  float: right;
  margin-right: 0px;
  margin-top: 0px;
  font-weight: bold;
  position: relative;
}

.box{
  width: 100%;
  overflow: none;
}

